.venv/
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store
/data/
src/data/chest_xray/
src/data/archive.zip*
checkpoints/
*.zip
.kaggle/

*.synctex.gz

figures/

results/gradcam/
results/gradcam_xai/
results/gradcam_xai_v2/
results/gradcam_compare/
results/*.log
results/*.txt
results/xai_cam_weights*.json

